@model ForumSystem.Web.ViewModels.Home.CommentViewModel
<div class="jumbotron" style="border: 1px solid purple; max-height: 150px; margin-bottom: 10px">
    <div>@Model.Content</div><hr />
    <div>Commented by: <em><strong>@Model.AuthorUsername</strong></em></div>
</div>
