@model ForumSystem.Web.ViewModels.Home.CommentViewModel
<div class="jumbotron">
    <div>Commented by: <em><strong>@Model.AuthorUsername</strong></em></div><hr />
    <div>@Model.Content</div>
</div>
