@using ForumSystem.Web.ViewModels.SideBar
@model ForumSystem.Web.ViewModels.SideBar.SideBarViewModel
<style>
     span>a {
        color: whitesmoke;
    }
</style>
<!-- Search Bar -->

    <div class="headline headline-md"><h2>Search</h2></div>
    <div class="input-group margin-bottom-40" style="background-color: black">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class=" btn btn-default" >Go</button>
        </span>
    </div>

    <!-- End Search Bar -->
<div class="headline headline-md"><h2>Tags</h2></div>
<ul class="list-unstyled ">
    @foreach (TagViewModel tag in Model.Tags)
    {
        <li class=" label label-info" style="background-color: black"><span><a href="#"><i class="fa fa-tags"></i> @tag.Name (@tag.PostCount)</a></span></li>
    }
</ul>
<!-- End Blog Tags -->