@model ForumSystem.Web.ViewModels.SideBar.SideBarViewModel

<!-- Search Bar -->
<div class="row">
    <div class="headline headline-md"><h2>Search</h2></div>
    <div class="input-group margin-bottom-40">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class=" btn btn-default" type="button">Go</button>
        </span>
    </div>
</div>
    <!-- End Search Bar -->
